# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# IDE
.vs/
.vscode/
.idea/
*.swp
*~

# Logs
logs/
*.log

# Database files
.dedup_index/
*.db
*.lmdb/

# Virtual environments
env/
venv/

# Build
build/
dist/
release/
*.spec

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp

# Large binary files
*.exe
*.zip
*.jpg
*.png
